@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@tailwind base;
@tailwind components;

@layer utilities {
  @layer responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}

@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  html,
  body,
  #root {
    @apply h-full flex flex-col;
  }
}
